In [ ]:
##Exercise 2 - Create a markdown cell with the title of the notebook.

# Title of the notebook

 # DataScienceEcosystem

# Exercise 3 - Create a markdown cell for an introduction

# introduction 

 In This Note Book  DATA SCIENCE toola and Ecosystem Sumarized

#Exercise 4 - Create a markdown cell to list data science languages:

# markdown Following are the list of of data science language 
1. PYTHON
2. R
3. SQL
4. SCALA
5. JULIA
6. JAVA
7. C++

#Exercise 5 - Create a markdown cell to list data science libraries:

# markdown List of data science libraries
1. TensorFlow
2. NumPy
3. SciPy 
4. Pandas
5. Matplotlib 
6. Keras
7. SciKit-Learn
8. PyTorch
9. Scrapy
10. BeautifulSoup

Exercise 6 - Create a markdown cell with a table of Data Science tools:

# markdown Tables of data science tools 
1. Jupyter Notebook , open sourse
2. PyTorch , open sourse
3. Ml flow , paid vervion
4. Hugging Face , open sourse
5. Rapid Miner , paid version
6. Knime , open sourse
7. Tableau, free and commercial version 
8. Power BI, free and commercial version 
9. Ms Excel , free and commercial 
10. Chat Gpt, open sourse 
11. Apache Spark, with paid 
12. Apache Hadoop , with paid

In [ ]:
Exercise 7 - Create a markdown cell introducing arithmetic expression examples:

#markdown arithmetic expression with examples 

 - 2+2 =4
 - 4-2 =2
 - 5*5 =25
 - 8/4 = 2

In [ ]:
# Exercise 8 - Create a code cell to multiply and add numbers.

In [1]:
#code multiply and add numbers 
x = 5
y= 10

# Multiply the numbers
product = x*y

# Add the numbers
sum = x+y

# Print the results
print("The product of", x, "and", y, "is", product)
print("The sum of", x, "and", y, "is", sum)

The product of 5 and 10 is 50
The sum of 5 and 10 is 15

In [ ]:
#Exercise 9 - Create a code cell to convert minutes to hours.

In [2]:
#convert minutes to hours
minutes=120
hour= minutes/60
print (minutes, " is equal to", hour ,"hour")

120  is equal to 2.0 hour

Exercise 10 -Insert a markdown cell to list Objectives:

#markdown list of objectives 
## Objectives:\n\n" + "\n".join([f"- {o}" for o in objectives])

Exercise 11 - Create a markdown cell to indicate the Author’s name.

#author´s name 

 1.Lakshmi Holla  &
 
 2.Niveditha Pandith

#Exercise 12 - Share your notebook through GitHub

#share notebook through github link

link :https://github.com/MRKGITCODE/Data_Science_Ecosystem_Assignment/import

In [ ]:
#Exercise 13 - Take a screenshot of the first page of the notebook

#"C:\Users\ibast\Downloads\Data_Science_Ecosystem.ipynb"